/* Add screen styles below */
a.active {
    font-weight: bold;
}

.nav {
    box-shadow: 1px 0px 5px rgb(0, 0, 0, 0.4);
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}

.list-group-item {
    width: 145px;
}

.list-group {
    padding-bottom: 500px;
}

.col-4 {
    width: 230px;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 64px;
    text-align: center;
}

.lightblue {
    color: #0091E3;
}

.darkblue {
    color: #0A3FC7;
}

/*.col-md-8 {
    width: 680px;
    height: 357px;
}

.col-6 col-md-6 {
    width: 329px;
    height: 276px;
}

.col-6 col-md-7 {
    width: 437px;
    height: 365px;
}
*/ 