/* Add screen styles below */
a.active {
    font-weight: bold;
}

.nav {
    box-shadow: 1px 0px 5px rgb(0, 0, 0, 0.4);
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    margin-bottom: 260px;
}

.list-group-item {
    width: 150px;
}

.list-group {
    padding-bottom: 140px;
    margin-left: 70px;
}

.col-4 {
    width: 230px;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 64px;
    text-align: center;
}

h2 {
    font-size: 64px;
    text-align: left;
}

p {
    font-size: 16px;
}

.lightblue {
    color: #0091E3;
}

.darkblue {
    color: #0A3FC7;
}

.col1 {
    display: flex;
    flex-direction: column;
}

.col2 {
    display: flex;
    flex-direction: column;
}

.col3 {
    display: flex;
    flex-direction: column;
}

.square {
    width: 403px;
    height: 403px;
    margin-bottom: 20px;
}

.bubble {
    width: 328px;
    height: 328px;
}

.earth {
    margin-bottom: 20px;
}

.comp1 {
    width: 403px;
    height: 403px;
}

.july {
    width: 329px;
    height: 585px;
    margin-top: 20px;
}

.recruitment {
    width: 328px;
    height: 328px;
    margin-bottom: 20px;
}

.hiring {
    width: 329px;
    height: 329px;
    margin-bottom: 20px;
}

.womensday {
    width: 403px;
    height: 403px;
    margin-bottom: 20px;
}

.headshot {
    margin-right: 40px;
}

.planet {
    width: 1045px;
    height: 588px;
}

.c7 {
    width: 1067px;
    height: 687px;
}

.carousel-inner {
    text-align: center;
}


.flex {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.Parent { 
    display: flex; 
    flex-direction: row; 
    margin-top: 260px;
    margin-bottom: 100px;
    margin-left: 80px;
} 

.child1 {  
    height: 100vh;   
    color: white; 
    width: 329px;
    margin-right: 20px;
    margin-left: 80px;
} 

.child2 { 
    width: 329px;
    height: 100vh; 
    margin-right: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #0091E3;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #0091E3;
}
